@font-face {
    font-family: "Roboto";
    src: url(./font/Roboto/Roboto-Light.ttf) format("truetype");
}
:root{
    --color1:#1e272e;
    --color2:#2c3e50;
    --color3:#34495e;
    --color4:#ecf0f1;
    --color5:#e74c3c;
    --color6:#3498db;
    --color7:#2ecc71;
    --color8:#f39c12;
    --color9:#1a2129;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";

}
a{
    color: var(--color4);
    text-decoration: none;
}
body{
    background-color: var(--color1);
}
.container-barra{
    position: fixed;
    width: 10rem;
    height: 100%;
    background-color: var(--color9);
}
.img-barra{
    height: 2rem;
    margin: auto 1rem;
}
.container-s{
    height: 10rem;
    width: 10rem;
    margin-bottom: 5rem;
}
.s-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;

    font-size: 4rem;
    background-color: var(--color3);
}
.s-container:hover{
    position: fixed;
    height: 15rem;
    width: 15rem;
    box-shadow: 7px 7px 0 var(--color6);
    transition: .2s linear;
}
.s-container:not(:hover){
    transition: .2s linear;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 15px;
    color: var(--color4);
}
li:hover{
    width: 12rem;
    background-color: var(--color3);
    transition: .2s linear;
    box-shadow: 10px 0 0 var(--color6);
}
li:not(:hover){
    transition: 1s linear;
}
.redes{
    height: 5rem;
    margin: auto;
}
.container-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}
/* contenido del main*/
main{
    margin: 0 0 0 10rem;
}
.container-sobre-mi{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.contacto{
    font-size: 25px;
    height: 5rem;
    width: 15rem;
    margin: auto 25.3%;
    background-color: var(--color6);
    cursor: pointer;
    border: none;
}
.contacto:hover{
    transition: .2s linear;
    color: var(--color1);
    background-color: var(--color5);
    box-shadow: 5px 5px 0 var(--color6);
}
.titulo-sobre-mi{
    font-size: 70px;
    margin: 10rem auto 0;
}
.titulo2-sobre-mi{
    display: flex;
    align-items: center;
    height: 2rem;
    width: 46rem;
    min-width: 25rem;
    font-size: 20px;
    margin: 2rem auto;
    padding: 0 2rem 0;
    background-color: var(--color6);
}
.sobre-mi{
    color: var(--color4);
}
.titulo2-sobre-mi:hover{
    background-color: var(--color5);
    transition: .2s linear;
    box-shadow: 5px 5px 0 var(--color6);
}
.titulo2-sobre-mi:not(:hover){
    transition: .2s linear;
}
/*modal*/
.container-modal{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: rgb(0, 0, 0, .5);
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
    height: 40rem;
    margin-left: -10rem;
    background-color: var(--color3);
}
label{
    color: var(--color4);
}
input{
    width: 21.5rem;
    height: 2rem;
    margin: 1rem auto;
    text-align: center;
    border: none;
    color: var(--color4);
    background-color: var(--color1);
}
textarea{
    margin: 1rem auto;
    text-align: center;
    padding: 2rem;
    border: none;
}
textarea:focus{
    border: none;
}
.enviar{
    color: var(--color4);
    height: 2rem;
    width: 21.5rem;
    cursor: pointer;
    border:none;
}
.buttom-enviar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 25rem;
}
.enviar:hover{
    height: 3rem;
    width: 22.5rem;
    transition: .2s linear;
    box-shadow: 5px 5px 0 var(--color5);
}
.enviar:not(:hover){
    transition: .2s linear;
}
.close{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 2rem;
    width: 2rem;
    margin: 0 0 0 25rem;
    background-color: var(--color6);
    cursor: pointer;
}
.close:hover{
    transition: .1s linear;
    background-color: var(--color5);
}
.close:not(:hover){
    transition: .1s linear;
}
.img-close{
    height: 1rem;
    width: 1rem;
}
/*reloj*/
.time-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 5rem;
    margin: 3rem 75rem;
    background-color: var(--color9);
    cursor: default;
}
.time{
    color: var(--color4);
    font-size: 30px;
    font-weight: 100;
}
/*mis skills*/
.container-title-propyectos{
    text-align: center;
    width: 80%;
    border-bottom: 1px solid var(--color4);
}
.container-h2-proyecto{
    margin: 1rem;
    color: var(--color4);
}
.container-proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem auto;
}
.contenido-proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 3rem auto;
    height: 30rem;
    width: 50rem;
}
.proyectos{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 25%;
}
.proyectos:hover{
    width: 40%;
    transition: .2s linear;
}
.proyectos:not(:hover){
    transition: .2s linear;
}
.proyecto1{
    background-color: var(--color5);
}
.proyecto2{
    background-color: var(--color6);
}
.proyecto3{
    background-color: var(--color7);
}
.proyecto4{
    background-color: var(--color8);
}
h3{
    margin: 25rem auto;
}